<div class="root-wrap">
	<section>
		<h1 class="title-hd">List of Open Plans</h1>
		<table ng-show="plans.length > 0">
			<thead>
				<tr>
					<th>Plan Name</th>
					<th>First Weekend</th>
					<th>Last Weekend</th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="plan in plans | orderBy: start">
					<td>{{plan.name}}</td>
					<td>{{plan.start}}</td>
					<td>{{plan.end}}</td>
					<td>{{plan.owner_name}}</td>
				</tr>
			</tbody>
		</table>
		<p ng-hide="plans.length > 0">Sorry, there are no plans to display.</p>
	</section>

	<section>
		<h1 class="title-hd">Create Plan</h1>
		<form ng-controller="createCtrl" ng-submit="addPlan()" class="create-form">
			<fieldset>
				<h1>Your Info</h1>
				<div class="field">
					<label for="newPlanYourName">Your Name:</label>
					<input ng-model="newPlan.ownerName" id="newPlanYourName" ng-class="{ error: ownerNameError }">
				</div>
				<div class="field">
					<label for="newPlanEmail">Your Email:</label>
					<input ng-model="newPlan.ownerEmail" id="newPlanEmail" type="email" ng-class="{ error: ownerEmailError }">
				</div>
			</fieldset>

			<fieldset>
				<h1>Plan Info</h1>
				<div class="field">
					<label for="newPlanName">Plan Name:</label>
					<input ng-model="newPlan.name" id="newPlanName" ng-class="{ error: planNameError }">
				</div>
				<div class="field">
					<label for="newPlanStart">First Weekend:</label>
					<select
						id="newPlanStart"
						ng-model="newPlan.start"
						ng-options="weekend as weekend.saturday for weekend in weekends.data.weekends | orderBy:weekend.saturday"
						ng-class="{ error: planStartError }">
						<option value="">-- Choose First Weekend --</option>
					</select>
				</div>
				<div class="field">
					<label for="newPlanEnd">Last Weekend:</label>
					<select
						id="newPlanEnd"
						ng-model="newPlan.end"
						ng-options="weekend as weekend.saturday for weekend in weekends.data.weekends | orderBy:weekend.saturday">
						<option value="">Never Ending</option>
					</select>
				</div>
			</fieldset>

			<input type="submit" value="Create Plan">
		</form>
	</section>
</div>