<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="WhatWeekendWorks" id="ng-app"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="WhatWeekendWorks" id="ng-app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="WhatWeekendWorks" id="ng-app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="WhatWeekendWorks" id="ng-app"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <base href="/">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="assets/components/html5shiv/dist/html5shiv.js"><\/script>')</script>
        <![endif]-->

        <!--[if lt IE8]>
        	<script src="assets/components/json3/lib/json3.min.js"></script>

        	<script>
        		// Here we define the custom tags we're going to use for IE8 to recognize them
        		document.createElement('ng-view');
        		document.createElement('ng-include');
        	</script>
        <![endif]-->

        <link rel="stylesheet" href="assets/css/screen.css">

        <script src="assets/js/header.js"></script>
    </head>
    <body ng-controller="mainCtrl">
		<div class="main-wrap">
            <div class="error box" ng-show="messages.errors.length > 0">
                <ul>
                    <li ng-repeat="error in messages.errors">{{error}}</li>
                </ul>
            </div>
            <div class="notice box" ng-show="messages.notices.length > 0">
                <ul>
                    <li ng-repeat="notice in messages.notices">{{notice}}</li>
                </ul>
            </div>   
			<ng-view></ng-view>
		</div>

        <script src="assets/js/footer.js"></script>
    </body>
</html>
